body {
    background-color: #D9D9D9;
    margin: 0px;

    width: 100vw;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#siteContent {
  opacity: 0;
  transition: opacity 0.8s ease;
}

#siteContent.loaded {
  opacity: 1;
}

/* initial hidden state */
.navbar {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

/* visible state */
.navbar.loaded {
  transform: translateY(0);
  opacity: 1;
}


@media (max-width: 768px)  {
  body {
    width:100vw;
    overflow-x: hidden;
  }
}