.capacity {
  background: #6b0000;
  padding: 20px 10% 80px;
  text-align: center;
  width: 100%;
}

.capacity h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 48px;
  margin-bottom: 50px;
  margin-top: 0px;
}

.capacity-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  gap: 50px;
}

.capacity-card {
  background: #e6e6e6;
  padding: 25px;
  text-align: left;
  box-shadow: 5px 10px 8px black;
}

.capacity-card h4 {
  color: #c00;
  font-size: 35px;
  font-family: 'Bebas Neue';
  margin: 0px;
}

.capacity-card p {
  font-size: 26px;
  margin-bottom: 20px;
  font-family: 'Bebas Neue';
}

.capacity-bar {
  height: 11px;
  background: #d3b3b3;
  overflow: hidden;
}

.capacity-bar span {
  display: block;
  height: 100%;
  width: 0;
  background: #c00;
  transition: width 1.2s ease;
}

/* Tablet */
@media (max-width: 1100px) {
  .capacity {
    padding: 40px 6% 80px;
  }

  .capacity-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .capacity-card h4 {
    font-size: 30px;
  }

  .capacity-card p {
    font-size: 22px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .capacity {
    padding: 40px 5% 60px;
  }

  .capacity h2 {
    font-size: 34px;
    margin-bottom: 35px;
  }

  .capacity-card {
    padding: 20px;
  }

  .capacity-card h4 {
    font-size: 24px;
  }

  .capacity-card p {
    font-size: 18px;
  }

  .capacity-bar {
    height: 8px;
  }
}
