.facilities {
  padding: 30px 8%;
  text-align: center;
}

.facilities h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: #c00;
  font-size: 48px;
}

.facilities-desc {
  color: #DD6F70;
  margin-bottom: 50px;
  font-family: 'Bebas Neue';
  font-size: 20px;
}

.facilities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.facility-card {
  background: #f3f3f3;
  padding: 15px;
  text-align: left;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.facility-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.facility-card:hover {
  transform: translateY(-6px);
}

.facility-card:hover img {
  transform: scale(1.08);
}

.facility-card h4 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Bebas Neue';
}

.facility-card p {
  font-size: 12px;
  color: #666;
}

.facility-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.facility-modal.active {
  display: flex;
}

.facility-modal-content {
  background: #fff;
  max-width: 500px;
  width: 90%;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  position: relative;
  animation: scaleIn 0.25s ease;
}

.facility-modal-content img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.facility-modal-close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 26px;
  cursor: pointer;
}

@keyframes scaleIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


@media (max-width: 768px) {
  .facilities-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

