@import url("base.css");
@import url("navbar.css");
@import url("banner.css");
@import url("welcome_section.css");
@import url("home.css");
@import url("products.css");
@import url("buyers.css");
@import url("certification.css");
@import url("video.css");
@import url("contact.css");
@import url("capacity.css");
@import url("facility.css");
@import url("contact_page.css");
@import url("career_page.css");










