.navbar {
    height:12vh;
    width:100%;
    /* overflow: hidden; */

    display: flex;
    justify-content: space-between;
    align-items: end;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: transform 0.3s ease;
  z-index: 1000;
  background: white; /* important */
}

.navbar.hide {
  transform: translateY(-100%);
}

body {
  padding-top: 80px; /* adjust to navbar height */
}


.navbar img {
    height: 80%;
    padding: 10px;

    cursor: pointer
}

.navbar .navbar_buttons {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Bebas Neue';

    width: 70%;
    color: #E10600;
}

.navbar_button {
    cursor: pointer;
    height: 12vh;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 30px;
    padding-right: 30px; */

    display: flex;
    justify-content: center;
    align-items: flex-end;

    min-width: 60px;
}

.navbar_button {
  text-decoration: none;
  color: #E10600;
}

.navbar_button:visited {
  color: #E10600;
}

.navbar_button.active {
  border-bottom: #E10600 solid 2px;
}

.hamburger_menu_container {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    align-items: center;
  }

  .navbar .navbar_buttons {
    display: none;
  }


  .navbar img {
    margin-left: 10px;
    height: 50%;
  }

  .hamburger_menu_container{
    display: flex;              /* actually shows + lets us center */
    align-items: center;
    justify-content: center;  /* push it to the right */
    height: 100%;
    width: 18vw;                /* you had this, it's fine */
  }

  .hamburger_menu_btn{
    display: block;             /* better than inline */
    font-size: 28px;            /* makes it visible */
    color: #E10600;             /* match your theme */
    cursor: pointer;
    line-height: 1;
    
  }
}


