/* Preloader overlay */
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #e10600;
  display: grid;
  place-items: center;

  opacity: 1;                         /* start visible */
  pointer-events: all;

  transition: opacity 350ms ease;     /* fade only */
}

/* Make the video fill nicely */
#preloader video {
  width: 100%;
  height: 100%;
  display: block;                     /* removes inline gaps */
  object-fit: cover;
}

/* Fade-out state */
#preloader.is-hidden {
  opacity: 0;
  pointer-events: none;               /* disable clicks AFTER fade */
}

#siteContent {
    width: 100vw;
}

@media (max-width: 768px)  {
    #preloader {
        width: 100vw;
        height: 100vh;
    }
    #preloader video {
        width: 80%;
        height: 50%;
        display: block;                     /* removes inline gaps */
        object-fit: scale-down;
    }
}