
.products_section {
  height: 80vh;
  width: 100%;
}

.products {
  text-align: center;
  margin: 80px 0;
}

.products h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  color: #c00;
}

.category-tabs {
  margin: 20px 0;
}

.tab {
  padding: 10px 25px;
  margin: 0 5px;
  border: none;
  background: transparent;
  color: #666;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: #c00;
  transition: width 0.25s ease;
}

.tab:hover {
  color: #c00;
}

.tab.active {
  color: #c00;
}

.tab.active::after {
  width: 100%;
}



.carousel2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.preview {
  width: 120px;
  height: 160px;
  object-fit: contain;
  opacity: 0.4;
  filter: blur(1px);
}

.product-card img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}


.arrow {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.learn-more {
  display: block;
  margin-top: 10px;
  color: #c00;
  text-decoration: none;
}

.product-card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;   
}

.product-card img {
  transition: opacity 0.4s ease;
}

.product-card img.fade {
  opacity: 0;
}
