.welcome_section {
    height: 80vh;
    width: 100vw;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    

}

.welcome_section_content_left {

    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome_section_content_left h2 {
    font-size: 60px;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    color: #E10600;
    text-align: center;
    margin-top: 0px;
}

.welcome_section_content_right {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 40%;
    position: relative; /* anchor for absolute children */
}

.welcome_section_content_right p {
    font-family: 'Bebas Neue';
    color: #1A1A1A;
    font-size: 30px;
}

.about-btn {
  background-color: #e10600;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: 1.7rem;
  letter-spacing: 0.8px;

  padding: 10px 32px;
  border-radius: 30px;

  width: 15vw;

  border: 2px solid white;            /* inner white border */
  outline: 2px solid #e10600;          /* outer red border */
  outline-offset: -6px;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* Hover state */
.about-btn:hover {
  background-color: white;
  color: #e10600;

  border: 2px solid #e10600;
  outline: 2px solid #e10600;
}

.decor-rect {
    position: absolute;
    background-color: #E10600;
    opacity: 0.08;
    z-index: 0; /* stays behind content */
}

/* Rectangle 1 */
.rect-1 {
    width: 260px;
    height: 90px;
    bottom: 5%;
    right: 50%;
    color:#E10600
}

/* Rectangle 2 */
.rect-2 {
    width: 320px;
    height: 120px;
    bottom: 10%;
    right: 20%;
    color:#E10600
}
