.welcome_section {
    height: 70vh;
    width: 100vw;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
}

.welcome_section_content {
    margin-top: 50px;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.welcome_section_content_left {
    width: 80vw;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome_section_content_left h2 {
    font-size: 4em;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    color: #E10600;
    text-align: center;
}

.welcome_section_content_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome_section_content_right p {
    font-family: 'Bebas Neue';
    color: #1A1A1A;
    font-size: 2em;
}

.about-btn {
  background-color: #e10600;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: 1.7em;
  letter-spacing: 0.8px;

  padding: 10px 32px;
  border-radius: 30px;

  width: 15vw;

  border: 2px solid white;            /* inner white border */
  outline: 2px solid #e10600;          /* outer red border */
  outline-offset: -6px;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* Hover state */
.about-btn:hover {
  background-color: white;
  color: #e10600;

  border: 2px solid #e10600;
  outline: 2px solid #e10600;
}
